# Cleaning and tidying data

## Open dataframe

In [ ]:
# Always start with

import pandas as pd
import numpy as np

In [ ]:
# Import csv file

df = pd.read_csv('pasta/arquivo.csv', sep=';', index_col = 0)

In [ ]:
#See the whole headline

pd.set_option('display.max_columns', None)

#See all rows

pd.set_option('display.max_rows', None)

## Getting to know your dataframe

### Sort

In [ ]:
# Organizes in the order of the line index

df.sort_index(inplace = True)

In [ ]:
# Sort by column order

df.sort_index(inplace = True, axis = 1)

In [ ]:
# Sort by specific column order

df.sort_values(by = 'X', inplace = True)

In [ ]:
# Sort by specific column order (more than one column)

df.sort_values(by = ['X','Y'], inplace = True)

In [ ]:
# Starting from the order of a specific line organizes the column

df.sort_values(by = '3', axis = 1, inplace = True)

### Prepare df

In [ ]:
#Define the order of columns in the pandas dataframe

df = df[['col1', 'col2', 'col3']]

In [ ]:
# Change headers text

df.columns = ['col1', 'col2', 'col3']

#OR

renomear = {
    'total_bill' : 'valor-da_conta',
    'tip' : 'gorjeta',
    'dessert' : 'sobremesa',
    'day' : 'dia_da_semana',
    'time' : 'hora_do_dia',
    'size' : 'total_de_pessoas'
}

gorjetas = dados.rename(columns = renomear)

In [ ]:
# Remove columns that will not be used

df = df.drop(columns=[ 'col1','col2','col3'])

#OR

df.drop([ 'col1','col2'], axis = 1, inplace = True)

In [ ]:
# Other ways to delete
# Only prints one column at a time

del df['col1']

#OR

df.pop('col1')

In [ ]:
# Fix index

df.shape[0] 
df.index = range(df.shape[0])

#OR

df.index = df.col1

In [ ]:
# Separate text into columns

'l1 l2 l3 l4'.split()

In [ ]:
# Create a series

data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [ ]:
# Create a df (using column filter)

df1 = pd.DataFrame(df[['col1', 'col2', 'col3', 'col4']])

In [ ]:
# ndarray.T: Returns the transposed array, that is, converts rows to columns and vice versa.

df_new = pd.DataFrame(col2(df, 2019)).T

In [ ]:
# Convert formats
# Date

df.col1 = pd.to_datetime(df['col1'])

In [ ]:
# See size and percentage of a filter

selecao = (df_kanban['kanban_final'] == 'Eliminados')
df_kanban_aprovados = df_kanban[selecao].shape[0]
df_kanban_aprovados_porcentagem = 100 * df_kanban[selecao].shape[0] / df_kanban.shape[0] 

print('Numero de Eliminados -> {} / {}%'.format(df_kanban_aprovados,df_kanban_aprovados_porcentagem))

### Null and duplicate values

In [ ]:
# Remove duplicate values informing tab column

df = df.drop_duplicates(subset=['col1'])

In [ ]:
# Count duplicate values

s.value_counts()

#or (one column)

df.col1.value_counts()

In [ ]:
# Sum of all null values
# Marks the data with true and false
# Shows null values as true

df.isnull().sum()

In [ ]:
# Sum all filled values
# Marks the data with true and false
# Shows null values as False

df.notnull().sum()

In [ ]:
# Sum all filled values

gorjetas.count()

In [ ]:
# Check how many null records are in a column

df[df['Col1'].isnull()].shape[0]

In [ ]:
# View records that are null in a column (bringing the entire dataframe)

dados[dados['Valor'].isnull()]

In [ ]:
# Filter a column using a condition and null values ​​with the condition

selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

# View how many null values
# ~ Is used to invert true to false and false to true

A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

In [ ]:
# Remove null values

df = df.dropna(subset=['full name'], inplace = True)

In [ ]:
#Remove only values with conditions

selecao = (imoveis['Tipo'] == 'Apartamento') & (imoveis['Condominio'].isnull())
imoveis = imoveis[selecao]
imoveis

In [ ]:
# Replaces null values with 0

dados.fillna(0, inplace = True)

# OR

dados = dados.fillna({'Condominio': 0, 'IPTU': 0})

In [ ]:
# Replaces null values with the previous number (from above)

df.fillna(method = 'ffill')

# Place a limit, only at a value below

s.fillna(method = 'ffill', limit = 1)

In [ ]:
# Replaces null values with the previous number (under)

s.fillna(method = 'bfill')

# Place a limit, only at a value below

s1.fillna(method = 'bfill', limit = 1)

In [ ]:
# Put the average of non-null values as a padding

df.fillna(df.mean(), inplace = True)

In [ ]:
# view amount of null and duplicate values to confirm deletion

df5 = df['col1'].nunique()
df6 = df['col1'].duplicated().sum()
df7 = 20101 - df6

print(f'The dataframe has {df5} unique candidates and {df6} duplicates. Removing duplicates will remain {df7} candidates')

### To view dataframes

In [ ]:
#See the whole headline

pd.set_option('display.max_columns', None)

In [ ]:
#See all rows

pd.set_option('display.max_rows', None)

In [ ]:
# Filter values

gorjetas[gorjetas.sobremesa == 'Sim']

In [ ]:
# see all columns in a dataframe

df.columns.tolist()

#or

df.columns

In [ ]:
# View df size (row, column)

df.shape

In [ ]:
# View df size ( just row or column)

df.shape[0]

In [ ]:
# See the first 9 lines

df.head(10)

In [ ]:
# See all values in a column

df['col1']

# OR more than one

df[['c3','c1']]

In [ ]:
# See a list of all the unique values in a column

list(df['col1'].drop_duplicates())

In [ ]:
# Another way to see unique values

s.unique()

#OR (one column)

df.col1.unique()

In [ ]:
# See a df with descriptive statistics (count, mean, std, min, 25%, 50%, 75%, max)

df['col1'].describe().round(2)

In [ ]:
# Select custom set of statistics

grupo_bairro['Valor'].aggregate(['min', 'max', 'sum'])

# and rename the columns

grupo_bairro['Valor'].aggregate(['min', 'max', 'sum']).rename(columns = {'min': 'Mínimo', 'max': 'Máximo'})
#OR
estatisticas = ['mean', 'std', 'min', 'max']
nomes = {'mean': 'Média', 'std': 'Desvio Padrão', 
    'min': 'Mínimo', 'max': 'Máximo'}
produtos['Preço'].aggregate(estatisticas)
    .rename(columns = nomes).round(2)

### Join

In [ ]:
# Take all values from the second column that are different from nan and put in the first column

df['col_new'] = np.where(df['col2'].notnull(), df['col2'], df['col1'])

In [ ]:
# Replace the nan values in the first column with the value in the second column:

# col1 é a coluna com valores nan
# col2 contém os valores para substituir os nan em col1

df['col1'] = df['col1'].fillna(df['col2'])

In [ ]:
# Merge df1 with dfl2 (using the id)

df_new = df1.merge(df2, on = "id", how = "left")

In [ ]:
# Join the two dataframes

df = pd.concat([df1, df2], axis = 1)

In [ ]:
# Add name with surname 
# And format data view

df2= df1['name'].astype(str)+' '+df1['last name']
df2.columns = ['full name']
df2 = df2.str.title()

In [ ]:
#df = pd.merge(df1,df2,on='full name')
#df7= df1.join(df2, on='full name')
#df = pd.merge(df1,df2,how='outer')

escrever o que acontece nos casos (incluino o de cima)

In [ ]:
# Loop for to join two df (worst way)

for index2, row2 in df2.iterrows():
    for index1, row1 in df1.iterrows():
        if row2['full name'] == row1['full name']:
            row2['ID'] = row1['ID']
            df2['index2'] = row2

### LOC AND ILOC

#### Using two [[]] returns in df and not in series

In [ ]:
# Filtering by lines

# By a range of lines

df[1:3]

# OR all lines

df[:]

In [ ]:
# Selection using the line label -(use the name) = LOC

# Select one line

df.loc['l3']

# or more than one

df.loc[['l3', 'l2']]

In [ ]:
# Selection using the line label -(use the name) = LOC

# Selecting column and row

df.loc['l1', 'c2']

# OR more than one

df.loc[['l3', 'l1'], ['c4','c1']] #square

# OR by a range of lines

df[1:][['c3', 'c1']]

In [ ]:
# This selection does not use the labels (name) uses the numerical index
# First is the name and the second the column


#same thing

# Version ILOC:
df.iloc[0,1]
#Version LOC:
df.loc['l1', 'c2']

#same thing

# Version ILOC:
df.iloc[[2,0],[3,0]]
# Version LOC:
df.loc[['l3', 'l1'], ['c4','c1']] #square

In [ ]:
# Filter using loc
# DataFrame with failed students (condition) and with the Name, Sex and Age columns, in that order.

selecao = alunos['Aprovado'] == False
reprovados = alunos.loc[selecao, ['Nome', 'Sexo', 'Idade']]
reprovados

# OR

selecao = alunos['Aprovado'] == False
reprovados = alunos[['Nome', 'Sexo', 'Idade']][selecao]
reprovados

In [ ]:
# Filter using loc
# visualization with the three youngest students.

alunos.sort_values(by = ['Idade'], inplace = True)
alunos.iloc[:3]

### Other filters

In [ ]:
# Create list using filter on a dataframe

df3 = df1['col1']

In [ ]:
# To make filters in DF from a list (1 condition)


# 1º - Find out all the values in a column and create a list with the values you need only

list(dados['Tipo'].drop_duplicates())

# 2nd- Create list

list_filter = ['val1', 'val2', 'val3']

# Use the list to filter the df from the column you select

select = df_origin['col1'].isin(list_filter)
df_filter = df_origin[select]

In [ ]:
# Make a filter more than one condition
# The shape serves to print only the list size, can be removed

selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

In [ ]:
# Filter using interval of some criterion
# The shape serves to print only the list size, can be removed

selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3 

# OR

selecao = (alunos.Idade > 10) & 
    (alunos.Idade < 20) | (alunos.Idade >= 40)
alunos[selecao]

In [ ]:
# Filter using different criteria and columns
# The shape serves to print only the list size, can be removed

selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

In [ ]:
# Create a variable that contains two forms of segmentation So you will be able to identify which tag it belongs to and assign:

casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

#OR

alunos['Faixa Etária'] = alunos['Idade']
    .apply(lambda x: 'Menor que 20 anos' if x < 20 
        else ('Entre 20 e 40 anos' if (x >= 20 and x <= 40) 
            else 'Maior que 40 anos'))

In [ ]:
# Exchange data text for another

df.col1.unique()

sim_nao = {
    'No' : 'Não',
    'Yes' : 'Sim'
}

df.col1 = df.col1.map(sim_nao)

#or

dias = {
    'Sun' : 'Domingo',
    'Sat' : 'Sábado',
    'Thur' : 'Quinta',
    'Fri' : 'Sexta'
}

df.col1 = df.col1.map(dias)

### Group by

In [ ]:
# Create a grouping of data from variables and work on them

# 1st filter

bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

dados['Bairro'].drop_duplicates()

# 2nd group

grupo_bairro = dados.groupby('Bairro')

#3rd print (worst way)

for bairro, dados in grupo_bairro: 
    print('{} -> {}'.format(bairro, dados.Valor.mean()))

#OR

grupo_bairro['Valor'].mean()

In [ ]:
# Create a grouping of data from variables and work on them

# More than one variable

grupo_bairro[['Valor', 'Condominio']].mean().round(2)


#OR

df = df_old.groupby('col1')
df = df_old.DataFrame(sexo['col2'].mean().round(2))
df.columns = ['new_col']
df

### Slice and rename data segmentation

In [ ]:
# 1st slice

# 1 e 2
# 3 e 4
# 5 e 6
# 7 e 8
classes = [0, 2, 4, 6, 100]

# 2nd cut (use only classes)

quartos = pd.cut(dados.Quartos, classes)

# 3rd rename

labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais' ]
quartos = pd.cut(dados.Quartos, classes, labels = labels)

#If you want include the number o
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest = True)

### Calculations

In [ ]:
# Calculate the average

df['col1'].mean()

In [ ]:
# Sum of values joining columns

df['Valor Bruto'] = df['Valor'] + df['Condominio'] + df['IPTU']

In [ ]:
# Split a value and create a new column

gorjetas['porcentagem'] = gorjetas['gorjeta'] / gorjetas['valor_da_conta']
gorjetas.porcentagem = gorjetas.porcentagem.round(2)

In [ ]:
# Dividing values by joining columns

dados['Valor m2'] = dados['Valor']/dados['Area']

# OR rounding the result (to two decimal places)

dados['Valor m2'] = dados['Valor m2'].round(2)
#OR
dados['Valor Bruto m2'] = (dados['Valor Bruto']/dados['Area']).round(2)

In [ ]:
# Count repetitions

eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

## Finalize file

In [ ]:
print("Any message you want to send' -> {}".format(df))

In [ ]:
# Save without default index

df.to_csv('pasta/name_file.csv', sep=';', index = False)